<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>
<main>
  <h1>Add Product</h1>
  <form action="/add-products" method="POST">
    <input type="text" name="title" />
    <button type="submit">Add Product</button>
  </form>
</main>
<%- include('includes/end.ejs') %>