<%- include('../includes/head.ejs') %>
<!-- <link rel="stylesheet" href="/css/main.css"> -->
<%- include('../includes/navigation.ejs') %>
<main>
  <span class="text-6xl">INDEX</span>
</main>
<%- include('../includes/end.ejs') %>
