<%- include('../includes/head.ejs') %>
<!-- <link rel="stylesheet" href="/css/main.css"> -->
<%- include('../includes/navigation.ejs') %>
<main>
  <%- include('../includes/product.ejs', {product: product}) %>
</main>
<%- include('../includes/end.ejs') %>
